.flex-gallery
  column-count: 3
  @media #{$s-mobile-device}
    column-count: 2
  @media #{$xs-mobile-device}
    column-count: 1

.gallery-part
  padding-bottom: 50px
  h1
    @extend %h1
    color: $light_grey
  h3
    @extend %h3
    left: 768px
    text-transform: uppercase
    font-weight: 400
    @media #{$tablet-device}
      left: 189px
    @media #{$s-mobile-device}
      left: 107px
    @media #{$xs-mobile-device}
      left: 21px
      // font-size: 32px
      // top: 51px
