.custom_parallax
  background-image: url(../images/beach-resting.jpeg)
  background-attachment: fixed
  background-repeat: no-repeat
  background-size: cover
  height: 500px
  @media #{$s-mobile-device}
    background-size: contain
    height: 270px
    background-attachment: scroll
  @media #{$xs-mobile-device}
    height: 180px

  .beating-heart
    animation: scale 2s infinite

.scroll_top
  right: 20px
  position: fixed
  z-index: 3
  bottom: 80px
  display: none
  button
    background-color: $dark_blue
    &:hover
      background-color: $dark_blue
      @include transform(scale(1.1))
      i
        animation: top 1s linear infinite
        @include transition(1s linear)


  @keyframes top
    from
      transform: translateY(-10px)
    to
      transform: translateY(10px)


  @keyframes scale
    from
      transform: scale(1.4)
    to
      transform: scale(1)

.parallax-container
  opacity: .7

.flex-wrapper
  justify-content: center
  height: 372px
  font-size: $font-medium
  text-transform: capitalize
  @media #{$xs-mobile-device}
    height: 180px
  span
    margin-right: 10px
    font-style: italic
    @include letter-space(4px)
    @media #{$s-mobile-device}
      @include letter-space(0)
