.about
  background-image: url(../images/about-bg.jpg)
  background-repeat: no-repeat
  background-size: cover
  height: 850px

// for mobile devices add this lines
    height: 100vh
    background-position: center center
