.contact
  background-image: url(../images/contact-bg.png)
  background-size: cover
  background-repeat: no-repeat
  h1
    @extend %h1
    color: $light_grey
    opacity: .3
  h3
    @extend %h3
    left: 515px
    text-transform: uppercase
  i
    color: white
