.features
  background-color: $dark_blue
  padding-bottom: 45px

.feature-icon
    width: 100px
    height: 100px
    background-color: $medium_blue
    text-align: center
    border-radius: 50%
    color: white
    margin: 0 auto
    &:hover
      background-color: darken($medium_blue, 3%)
    i
      @include line-height(100px)
    @media #{$xs-mobile-device}
      width: 90px
      height: 90px

.features
  h1
    @extend %h1
    + h3
      @extend %h3
      @media #{$tablet-device}
        left: 44px  
      @media #{$s-mobile-device}
        left: 0



.slider-row
  margin-top: -30px

.slider-row-second
  @extend .slider-row

.feature-text
  h6
    font-size: $font-regularM
    text-transform: uppercase
    margin-top: 15px
    @media #{$xs-mobile-device}
      font-size: $font-regularS

// medias

@media #{$xs-mobile-device}
  .features
    .overlay-text
      top: 59px
      left: 6px
      font-size: 2rem
