.team
  padding-bottom: 50px
  h1
    @extend %h1
    color: $light_grey
  h3
    @extend %h3
    left: 845px
  p
    text-transform: capitalize
    color: $dark_blue
    font-size: $font-medium
    margin-bottom: 50px

.member-box
  img
    margin: auto

.member-info
  width: 215px
  margin: auto
  background-color: $dark_blue
  color: $white
  text-transform: capitalize
  padding: 5px 0
  opacity: 0
  position: relative




.is-hovered
  animation: swing 1s ease-in-out forwards
  @include transition(all 200ms ease-in-out)

@keyframes swing
  25%
    opacity: .6
    top: -70px
  50%
    transform: rotate(-45deg) rotateX(-2deg)
    opacity: 1
    top: -60px
  70%
    transform: rotate(5deg)

  100%
    opacity: 1
    top: -53px
    transform: scale(1)
