%h1
  font-size: $font-xl
  font-weight: bold
  z-index: 1
  position: relative
  margin: 0
  color: $light_blue
  @media #{$xs-mobile-device}
    font-size: 170px

%h3
  position: absolute
  top: 65px
  left: 353px
  z-index: 2
%h6
  font-size: 18px
  text-transform: uppercase
