%h1
  font-size: $font-xl
  font-weight: bold
  z-index: 1
  position: relative
  margin: 0
  color: $light_blue

%h3
  position: absolute
  top: 65px
  left: 353px
  z-index: 2

%h6
  font-size: 18px
  text-transform: uppercase
